<a href="https://colab.research.google.com/github/smahsan053/giaic_assignment_04/blob/main/if_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 01_print_events
def even():
    for i in range(50):
     print("Even number is:",  i * 2)

if __name__ == "__main__":
    even()

Even number is: 0
Even number is: 2
Even number is: 4
Even number is: 6
Even number is: 8
Even number is: 10
Even number is: 12
Even number is: 14
Even number is: 16
Even number is: 18
Even number is: 20
Even number is: 22
Even number is: 24
Even number is: 26
Even number is: 28
Even number is: 30
Even number is: 32
Even number is: 34
Even number is: 36
Even number is: 38
Even number is: 40
Even number is: 42
Even number is: 44
Even number is: 46
Even number is: 48
Even number is: 50
Even number is: 52
Even number is: 54
Even number is: 56
Even number is: 58
Even number is: 60
Even number is: 62
Even number is: 64
Even number is: 66
Even number is: 68
Even number is: 70
Even number is: 72
Even number is: 74
Even number is: 76
Even number is: 78
Even number is: 80
Even number is: 82
Even number is: 84
Even number is: 86
Even number is: 88
Even number is: 90
Even number is: 92
Even number is: 94
Even number is: 96
Even number is: 98

In [2]:
# 02_international_voting_age

Peturksbouipo: int = 16
Stanlau:int = 25
Mayengua:int = 48

def main():
    age:int = int(input("How old are you? "))
    if age >= Peturksbouipo:
        print(f"Your age {age} is eligible to vote in Peturksbouipo.")
    else:
        print(f"Your age {age} is not eligible to vote in Peturksbouipo.")



    if age >= Stanlau:
        print(f"Your age {age} is eligible to vote in Stanlau.")
    else:
        print(f"Your age {age} is not eligible to vote in Stanlau.")



    if age >= Mayengua:
        print(f"Your age {age} is eligible to vote in Mayengua.")
    else:
        print(f"Your age {age} is not eligible to vote in Mayengua.")

if __name__ == "__main__":
    main()

How old are you? 26
Your age 26 is eligible to vote in Peturksbouipo.
Your age 26 is eligible to vote in Stanlau.
Your age 26 is not eligible to vote in Mayengua.

In [3]:
# 03-leap-year
def leap_year():
    year: int = int(input("Enter a year: "))

    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                print(f"{year} That's a leap year!")
            else:
                print(f"{year} That's not a leap year.")
        else:
            print(f"{year} That's a leap year!")
    else:
        print(f"{year} That's not a leap year.")

if __name__ == "__main__":
    leap_year()

Enter a year: 2025
2025 That's not a leap year.

In [4]:
# 04_tall_enough_to_ride
min_height:int = 50

def main():
  user:int = int (input("How tall are you: "))
  if user >= min_height:
    print(f"You're  tall enough to ride!")
  else:
    print(f"You're not tall enough to ride, but maybe next year!")

if __name__ == "__main__":
  main()

How tall are you: 50
You're  tall enough to ride!

In [5]:
# 05_random_numbers
import random

def main():
    for i in range(10):
        random_number:list[int] = random.randint(1, 100)
        print(f"Random number is: {random_number}")

if __name__ == "__main__":
    main()

Random number is: 31
Random number is: 9
Random number is: 8
Random number is: 14
Random number is: 92
Random number is: 9
Random number is: 43
Random number is: 77
Random number is: 33
Random number is: 74